@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
}

:root{
    /* Colors VAR */
    --grey-900: #141414;
    --grey-800: #1F1F1F;
    --grey-700: #333333;
    --green: #C4F82A;

    /* Typografy */
    --inter-font: "Inter",
        sans-serif;

}

body{
    width: 100vw;
    height: 100vh;
    background-color: var(--grey-900);
    font-family: var(--inter-font);

    display: flex;
    justify-content: center;
    align-items: center;


}

main{
    width: 330px;
    height: 580px;
    border-radius: 12px;


    background-color: var(--grey-800);
    display: flex;
    align-items: center;
    justify-content: center;
    
    flex-direction: column;

    padding: 24px;
    margin: 24px;
    color: white;
}

img{
    width: 88px;
    height: 88px;
    border-radius: 50%;

    padding-bottom: 24px;
}

p#nome{
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 0px;
}

p#local{
    color: var(--green);
    font-weight: bold;
   

    
}

p{
    font-size: 14px;
    line-height: 150%;
    padding-bottom: 24px;
}


a{
  
    display: grid;
    place-items: center;

    padding: 12px 0px;
    margin-bottom: 16px;
    border-radius: 8px;
    width: 280px;

    line-height: 150%;
    font-size: 14px;
    color: white;
    text-decoration: none;

    background-color: var(--grey-700);


}

a:hover{
    color: var(--grey-700);
    background-color: var(--green);
    
    transform: scale(105%);
    transition: 0.5s, color 0s;
}

@media screen and (min-width: 500px) {

  

    main{
        width: 455px;
        height: 610px;
        
        padding: 40px;
        margin: 40px;

    }

    a{
        width: 376px;
    }
}

@media screen and (min-width: 1100px){

    main{
        width: 390px;
    }

}

